<md-toolbar
  layout="row" 
  class="md-toolbar-tools">

  <md-button 
      aria-label="button-label" 
      class="md-icon-button"
      ng-click="sidenav.toggle()">
      
      <md-icon md-font-set="material-icons">menu</md-icon>
    </md-button>
    
  <h1
      class="md-title"
      flex
      ng-bind="view.name"
      md-truncate></h1>
</md-toolbar>