<md-toolbar
  layout="row" 
  class="md-toolbar-tools">

  <md-button 
    aria-label="button-label" 
    class="md-icon-button"
    ng-click="sidenav.toggle()">
    
    <md-icon md-font-set="material-icons">menu</md-icon>
  </md-button>
    
  <h1
    class="md-title"
    flex
    md-truncate>Busca</h1>
</md-toolbar>

<md-toolbar
    class="md-toolbar-tools"
    layout="row"
    md-ripple-size="full"
    md-scroll-shrink="true">

    <md-autocomplete
        placeholder="<%= strings.WHAT_ARE_YOU_LOOKING_FOR %>"
        flex="grow"
        md-no-cache="true"
        md-search-text="buscaCtrl.searchText"
        md-items="item in buscaCtrl.products | filter:buscaCtrl.searchText"
        md-clear-button="true"
        md-item-text="item.nome">

        <md-item-template>
            {{item.name}}
        </md-item-template>

        <md-not-found>
            <%= strings.RESULT_NOT_FOUND %>
        </md-not-found>
    </md-autocomplete>

    <md-button
        aria-label="Open filters button"
        class="md-icon-button"
        ng-show="buscaCtrl.viewState === 'result'"
        ng-click="buscaCtrl.setViewState('filter')">

        <md-icon>filter_list</md-icon>
    </md-button>
</md-toolbar>

<%- include('partials/search/search_filters.ejs'); %>

<%- include('partials/search/search_results.ejs'); %>