<!DOCTYPE html>
<html lang="pt" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= strings.APP_NAME %></title>

  <!-- Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <meta name="apple-mobile-web-app-title" content="AgroApp" />

  <!-- Broswers on Windows Phone -->
  <meta name="msapplication-TileImage" content="images/icon-128x128.png" />
  <meta name="msapplication-TileColor" content="#e74c3c" />

  <link rel="stylesheet" href="/assets/styles/style.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet" />
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    html, body { width: 100%; height: 100%}
  </style>
</head>
<body>
  <!-- Shell -->
  <div class="app-shell ng-cloak" layout-fill>

    <!-- Sidenav -->
    <%- include('partials/sidenav.ejs'); %>

    <!-- View -->
    <ng-view layout-fill></ng-view>
  </div>

  <% if (environment === '') { %>
    <script src="/assets/scripts/bundle.js"></script>
  <% } else { %>
    <%# Angular %>
    <script src="/assets/scripts/lib/angular.min.js"></script>
    <script src="/assets/scripts/lib/angular-animate.min.js"></script>
    <script src="/assets/scripts/lib/angular-aria.min.js"></script>
    <script src="/assets/scripts/lib/angular-cookies.min.js"></script>
    <script src="/assets/scripts/lib/angular-material.min.js"></script>
    <script src="/assets/scripts/lib/angular-route.min.js"></script>

    <%# App %>
    <script src="/assets/scripts/src/app.js"></script>

    <%# Services %>
    <script src="/assets/scripts/src/services/autenticacao.service.js"></script>
    <script src="/assets/scripts/src/services/categoria_produto.service.js"></script>
    <script src="/assets/scripts/src/services/perfil.service.js"></script>
    <script src="/assets/scripts/src/services/persistence.service.js"></script>
    <script src="/assets/scripts/src/services/products.service.js"></script>
    <script src="/assets/scripts/src/services/usuario_produto.service.js"></script>
    <script src="/assets/scripts/src/services/usuario.service.js"></script>

    <%# Controllers %>
    <script src="/assets/scripts/src/controllers/inicio.controller.js"></script>
    <script src="/assets/scripts/src/controllers/cadastro_perfil.controller.js"></script>
    <script src="/assets/scripts/src/controllers/cadastro_credencial.controller.js"></script>
    <script src="/assets/scripts/src/controllers/cadastro_pessoa_fisica.controller.js"></script>
    <script src="/assets/scripts/src/controllers/cadastro_pessoa_juridica.controller.js"></script>
    <script src="/assets/scripts/src/controllers/cadastro_contato.controller.js"></script>
    <script src="/assets/scripts/src/controllers/meus_produtos.controller.js"></script>

    <%# Configs %>
    <script src="/assets/scripts/src/config/location.config.js"></script>
    <script src="/assets/scripts/src/config/theme.config.js"></script>
    <script src="/assets/scripts/src/config/routes.config.js"></script>
  <% } %>
</body>
</html>