<!DOCTYPE html>
<html lang="pt" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= strings.APP_NAME %></title>

  <!-- Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <meta name="apple-mobile-web-app-title" content="AgroApp" />

  <!-- Broswers on Windows Phone -->
  <meta name="msapplication-TileImage" content="images/icon-128x128.png" />
  <meta name="msapplication-TileColor" content="#e74c3c" />

  <link rel="stylesheet" href="/assets/styles/style.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet" />
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    html, body { width: 100%; height: 100%}
  </style>
</head>
<body>
  <!-- Shell -->
  <div class="app-shell ng-cloak" layout-fill>

    <!-- Sidenav -->
    <%- include('partials/sidenav.ejs'); %>

    <!-- View -->
    <ng-view layout-fill></ng-view>
  </div>

  <script src="/assets/scripts/bundle.js"></script>
</body>
</html>