<!DOCTYPE html>
<html lang="pt" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="manifest" href="assets/manifest.json">
  <title><%= strings.APP_NAME %></title>

  <!-- Safari -->
  <link rel="apple-touch-icon" href="assets/images/touch/icon-192.png">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <meta name="apple-mobile-web-app-title" content="AgroApp" />

  <!-- Broswers on Windows Phone -->
  <meta name="msapplication-TileImage" content="images/icon-128x128.png" />
  <meta name="msapplication-TileColor" content="#e74c3c" />
  <link rel="stylesheet" href="/assets/styles/bin/style.css" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet" />
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>
</head>
<body>
  <!-- Shell -->
  <div class="app-shell ng-cloak" layout-fill>

    <!-- Sidenav -->
    <%- include('partials/sidenav.ejs'); %>

    <!-- View -->
    <ng-view layout-fill></ng-view>
  </div>

  <script src="/assets/scripts/bin/bundle.js"></script>

  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker
          .register('/sw.js', { scope: '/' })
          .then(function (registration) { console.log('Scope:', registration.scope) })
          .catch(function (err) { console.log('Cannot register ServiceWorker')});
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9ip4yFaOqOchO0_iRheDqfrFXXPL6Lag"></script>
</body>
</html>