<!DOCTYPE html>
<html lang="pt" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="manifest" href="assets/manifest.json">
  <title><%= strings.APP_NAME %></title>

  <!-- Safari -->
  <link rel="apple-touch-icon" href="assets/images/touch/icon-192.png">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <meta name="apple-mobile-web-app-title" content="AgroApp" />

  <!-- Broswers on Windows Phone -->
  <meta name="msapplication-TileImage" content="images/icon-128x128.png" />
  <meta name="msapplication-TileColor" content="#e74c3c" />
  <link rel="stylesheet" href="/assets/styles/bin/style.css" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet" />
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    html, body { width: 100%; height: 100%}
  </style>
</head>
<body>
  <!-- Shell -->
  <div class="app-shell ng-cloak" layout-fill>

    <!-- Sidenav -->
    <%- include('partials/sidenav.ejs'); %>

    <!-- View -->
    <ng-view layout-fill></ng-view>
  </div>

  <%# Libs %>
  <script src="/assets/scripts/lib/libs.js"></script>

  <% if (environment !== 'dev') { %>
    <script src="/assets/scripts/bin/bundle.js"></script>
  <% } else { %>

    <%# App %>
    <script src="/assets/scripts/src/app.js"></script>

    <%# Services %>
    <script src="/assets/scripts/src/services/autenticacao.service.js"></script>
    <script src="/assets/scripts/src/services/categoria_produto.service.js"></script>
    <script src="/assets/scripts/src/services/perfil.service.js"></script>
    <script src="/assets/scripts/src/services/persistence.service.js"></script>
    <script src="/assets/scripts/src/services/produto.service.js"></script>
    <script src="/assets/scripts/src/services/usuario_produto.service.js"></script>
    <script src="/assets/scripts/src/services/usuario.service.js"></script>
    <script src="/assets/scripts/src/services/endereco.service.js"></script>
    <script src="/assets/scripts/src/services/email.service.js"></script>
    <script src="/assets/scripts/src/services/pessoa_fisica.service.js"></script>
    <script src="/assets/scripts/src/services/pessoa_juridica.service.js"></script>

    <%# Helpers %>
    <script src="/assets/scripts/src/helpers/date.helper.js"></script>
    <script src="/assets/scripts/src/helpers/pessoa.helper.js"></script>

    <%# Controllers %>
    <script src="/assets/scripts/src/controllers/inicio.controller.js"></script>
    <script src="/assets/scripts/src/controllers/cadastro_perfil.controller.js"></script>
    <script src="/assets/scripts/src/controllers/cadastro_credencial.controller.js"></script>
    <script src="/assets/scripts/src/controllers/cadastro_pessoa_fisica.controller.js"></script>
    <script src="/assets/scripts/src/controllers/cadastro_pessoa_juridica.controller.js"></script>
    <script src="/assets/scripts/src/controllers/cadastro_contato.controller.js"></script>
    <script src="/assets/scripts/src/controllers/meus_produtos.controller.js"></script>
    <script src="/assets/scripts/src/controllers/busca.controller.js"></script>
    <script src="/assets/scripts/src/controllers/oferta.controller.js"></script>

    <%# Configs %>
    <script src="/assets/scripts/src/config/location.config.js"></script>
    <script src="/assets/scripts/src/config/theme.config.js"></script>
    <script src="/assets/scripts/src/config/routes.config.js"></script>

    <%# Run %>
    <script src="/assets/scripts/src/run/app.run.js"></script>
  <% } %>

  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker
          .register('/sw.js', { scope: '/' })
          .then(function (registration) { console.log('Scope:', registration.scope) })
          .catch(function (err) { console.log('Cannot register ServiceWorker')});
      });
    }
  </script>
</body>
</html>