<md-content 
    layout="column" 
    class="md-no-flicker md-no-momentum"
    layout-padding="true">

    <form
        layout="column"
        name="loginForm">

        <md-input-container>
            <label for="username_field">
                <%= strings.EMAIL %>
            </label>

            <input
                id="username_field"
                type="text"
                ng-model="loginCtrl.username"
                ng-required="true" />
        </md-input-container>

        <md-input-container>
            <label for="password_field">
                <%= strings.PASSWORD %>
            </label>

            <input
                id="password_field"
                type="text"
                ng-model="loginCtrl.password"
                ng-required="true" />
        </md-input-container>
    </form>

    <md-button 
        class="md-primary md-raised"
        md-ripple-size="full"
        ng-disabled="loginForm.$invalid"
        ng-click="loginCtrl.login()">

        <%= strings.ACCESS %>
    </md-button>

    <md-button
        class="md-primary"
        href="#/register"
        md-ripple-size="full">

        Cadastre-se
    </md-button>
        
</md-content>
