<md-toolbar
  layout="row" 
  class="md-toolbar-tools">

  <md-button 
    aria-label="button-label" 
    class="md-icon-button"
    ng-click="sidenav.toggle()">
    
    <md-icon md-font-set="material-icons">menu</md-icon>
  </md-button>
    
  <h1
    class="md-title"
    flex
    md-truncate>Meus produtos</h1>
</md-toolbar>

<md-content 
  layout="column"
  class="md-no-flicker md-no-momentum">

  <div layout-padding="true">
    <h2 class="md-title">Produtos</h2>
  </div>

  <md-list>
    <md-list-item ng-if="myProductsCtrl.products.length">
      <div class="md-list-item-text">
        <p class="md-subhead">Você ainda não cadastrou nenhum produto</p>
      </div>
    </md-list-item>
    <md-list-item
      class="md-3-line"
      ng-repeat="oferta in myProductsCtrl.ofertas">

      <div
        class="md-list-item-text"
        layout="column">

        <h3 ng-bind="oferta.produto.nome"></h3>
        <p>
          <span ng-bind="oferta.quantidade"></span>
          <span ng-bind="oferta.unidade"></span>
        </p>
        <p>
          <span ng-bind="myProductsCtrl.getFormatedDate(oferta.data_inicio)"></span> |
          <span ng-bind="myProductsCtrl.getFormatedDate(oferta.data_fim)"></span>
        </p>
      </div>
    </md-list-item>
  </md-list>
</md-content>

<md-button
  class="md-fab md-primary md-raised fixed-fab"
  aria-label="Cadastrar produto">

  <md-icon md-font-set="material-icons">add</md-icon>
</md-button>