<md-toolbar
  layout="row" 
  class="md-toolbar-tools">

  <md-button 
    aria-label="button-label" 
    class="md-icon-button"
    ng-click="ctrl.voltar()">
    
    <md-icon md-font-set="material-icons">arrow_back</md-icon>
  </md-button>
    
  <h1
    class="md-title"
    flex
    md-truncate>Cadastro</h1>
</md-toolbar>
  
<md-content
  style="height: calc(100vh - 56px); min-height: auto;"
  layout-fill
  layout="column" 
  class="md-no-flicker md-no-momentum">

</md-content>