<md-toolbar
  layout="row" 
  class="md-toolbar-tools">

  <md-button 
    aria-label="button-label" 
    class="md-icon-button"
    ng-click="ctrl.voltar()">
    
    <md-icon md-font-set="material-icons">arrow_back</md-icon>
  </md-button>
    
  <h1
    class="md-title"
    flex
    md-truncate>Oferta</h1>
</md-toolbar>
<md-progress-linear md-mode="indeterminate" ng-show="ctrl.loading"></md-progress-linear>
  
<md-content
  style="height: calc(100vh - 56px); min-height: auto;"
  class="md-no-flicker md-no-momentum">

  <md-subheader>Oferta</md-subheader>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-title">{{ctrl.oferta.Anuncio.nome}}</span>
        <span class="md-subhead">{{ctrl.oferta.quantidade}} {{ctrl.oferta.unidade}}</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <p>
        <span ng-bind="DateHelper.format(ctrl.oferta.data_inicio)"></span> |
        <span ng-bind="DateHelper.format(ctrl.oferta.data_fim)"></span>
      </p>
    </md-card-content>
  </md-card>

  <md-subheader>Anunciante</md-subheader>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-title">{{PessoaHelper.getNomeDaPessoa(ctrl.oferta.Anunciante)}}</span>
        <span class="md-subhead">
          <span ng-bind="PessoaHelper.getTipoPessoa(ctrl.oferta.Anunciante)"></span>
        </span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <p>
        <md-icon md-font-set="material-icons">location_on</md-icon>
        <span ng-bind="PessoaHelper.getCidadeEstado(ctrl.oferta.Anunciante)"></span>
      </p>
      <p>
        <md-icon md-font-set="material-icons">email</md-icon>
        <a href="mailto:{{ctrl.oferta.Anunciante.Emails[0].email}}">
        <span ng-bind="ctrl.oferta.Anunciante.Emails[0].email"></span>
        </a>
      </p>
      <p>
        <md-icon md-font-set="material-icons">phone</md-icon>
        <a href="tel:+55{{ctrl.oferta.Anunciante.Telefones[0].ddd}}{{ctrl.oferta.Anunciante.Telefones[0].numero}}">
        <span ng-bind="PessoaHelper.getNumeroTelefone(ctrl.oferta.Anunciante)"></span>
        </a>
      </p>
    </md-card-content>

    <md-card-actions>
      <md-card-icon-actions ng-init="ctrl.checarFavorito(ctrl.oferta.Anunciante.id)">
        <md-button
          class="md-icon-button"
          aria-label="icon"
          ng-click="ctrl.toggleFavorito(ctrl.oferta.Anunciante.id, ctrl.isFavorito)"
          ng-disabled="ctrl.loading">

          <md-icon md-font-set="material-icons">{{ctrl.getFavoritoIcon(ctrl.isFavorito)}}</md-icon>
        </md-button>
      </md-card-icon-actions>
    </md-card-actions>
  </md-card>
</md-content>
