  md-content {
  
    // margin-top offset and min-heignt
    // based on sibiling toolbar's nth-of-type index
    @for $i from 0 through 2 {
      md-toolbar:nth-child(#{$i + 1}) ~ &,
      md-toolbar:nth-child(#{$i + 1}) ~ div & {
        transform: translateY(($i + 1) * 56px) !important;
        min-height: calc(100vh - #{($i + 1) * 56px}) !important;
      }

      md-tabs:nth-child(#{$i + 1}):not(.ng-hide) ~ &,
      md-tabs:nth-child(#{$i + 1}):not(.ng-hide) ~ div & {
        transform: translateY((($i) * 56) + 48px) !important;
        min-height: calc(100vh - #{(($i) * 56) + 48px}) !important;
      }

    }
  
    // All children must not be flex
    > * { flex: none !important; }
  }