<md-toolbar
  layout="row" 
  class="md-toolbar-tools">

  <md-button 
    aria-label="button-label" 
    class="md-icon-button"
    ng-click="sidenav.toggle()">
    
    <md-icon md-font-set="material-icons">menu</md-icon>
  </md-button>
    
  <h1
    class="md-title"
    flex
    md-truncate>Meus produtos</h1>
</md-toolbar>

<md-content 
  layout="column"
  class="md-no-flicker md-no-momentum">

  <md-subheader>Produtos</md-subheader>
  
  <div>
    <md-card ng-if="!meusProdutosCtrl.ofertas.length">
      <md-card-title>
        <md-card-text>
          <span class="md-subhead">Nenhum produto cadastrado.</span>
        </md-card-text>
      </md-card-title>
    </md-card>

    <md-card ng-repeat="oferta in meusProdutosCtrl.ofertas">
      <md-card-title>
        <md-card-title-text>
          <span class="md-title">{{oferta.Anuncio.nome}}</span>
          <span class="md-subhead">{{oferta.quantidade}} {{oferta.unidade}}</span>
        </md-card-title-text>
      </md-card-title>
        
      <md-card-content>
        <span ng-bind="meusProdutosCtrl.getFormatedDate(oferta.data_inicio)"></span> |
        <span ng-bind="meusProdutosCtrl.getFormatedDate(oferta.data_fim)"></span>
      </md-card-content>

      <md-card-actions>
        <md-button ng-click="meusProdutosCtrl.abrirConfirmacaoExclusaoDe(oferta)">Excluir</md-button>
        <md-button ng-click="meusProdutosCtrl.abrirFormulario(oferta)">Editar</md-button>
      </md-card-actions>
    </md-card>
  </div>

  <md-button
    class="md-fab md-primary md-raised fixed-fab"
    aria-label="Cadastrar produto"
    ng-click="meusProdutosCtrl.abrirFormulario()">

    <md-icon md-font-set="material-icons">add</md-icon>
  </md-button>
</md-content>

<%- include('partials/dialog.ejs'); %>