<md-toolbar
  layout="row" 
  class="md-toolbar-tools">

  <md-button 
    aria-label="button-label" 
    class="md-icon-button"
    ng-click="cadastroCtrl.voltar()">
    
    <md-icon md-font-set="material-icons">close</md-icon>
  </md-button>
    
  <h1
    class="md-title"
    flex
    md-truncate>Cadastro</h1>
</md-toolbar>
  
<md-content
  layout="column" 
  class="md-no-flicker md-no-momentum">


  <md-subheader>Eu sou</md-subheader>

  <div
    layout="column"
    layout-padding="true">
    
    <md-grid-list
      md-cols="2"
      md-gutter="10px"
      md-row-height="1:1">
      
      <md-grid-tile ng-click="cadastroCtrl.usuario.Perfil = 2">
        <img 
          ng-src="/assets/images/produtor.png"
          ng-show="cadastroCtrl.usuario.Perfil !== 2" />

        <img 
          ng-src="/assets/images/produtor_active.png"
          ng-show="cadastroCtrl.usuario.Perfil === 2" />

        <md-grid-tile-footer
          layout-align="center center">

          <p class="md-subhead">Produtor</p>
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile ng-click="cadastroCtrl.usuario.Perfil = 3">
        <img
          ng-src="/assets/images/comprador.png"
          ng-show="cadastroCtrl.usuario.Perfil !== 3" />

        <img
          ng-src="/assets/images/comprador_active.png"
          ng-show="cadastroCtrl.usuario.Perfil === 3" />

        <md-grid-tile-footer
          layout-align="center center">

          <p class="md-subhead">Comprador</p>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>

  <div
    ng-show="cadastroCtrl.usuario.Perfil"
    layout="column"
    layout-padding="true">
    
    <md-grid-list
      md-cols="2"
      md-gutter="10px"
      md-row-height="1:1">
      
      <md-grid-tile ng-click="cadastroCtrl.usuario.tipo = 'PF'">
        <img
          ng-src="/assets/images/pessoa_fisica.png"
          ng-show="cadastroCtrl.usuario.tipo !== 'PF'" />

        <img
          ng-src="/assets/images/pessoa_fisica_active.png"
          ng-show="cadastroCtrl.usuario.tipo === 'PF'" />

        <md-grid-tile-footer
          layout-align="center center">

          <p class="md-subhead">Pessoa Física</p>
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile ng-click="cadastroCtrl.usuario.tipo = 'PJ'">
        <img
          ng-src="/assets/images/pessoa_juridica.png"
          ng-show="cadastroCtrl.usuario.tipo !== 'PJ'" />

        <img
          ng-src="/assets/images/pessoa_juridica_active.png"
          ng-show="cadastroCtrl.usuario.tipo === 'PJ'" />

        <md-grid-tile-footer
          layout-align="center center">

          <p class="md-subhead">Pessoa Jurídica</p>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>

  <md-button 
    class="md-primary md-raised"
    md-ripple-size="full"
    ng-show="cadastroCtrl.usuario.tipo"
    ng-click="cadastroCtrl.avancar()">

    Continuar
  </md-button>
</md-content>