<md-toolbar
  layout="row" 
  class="md-toolbar-tools">

  <md-button 
    aria-label="button-label" 
    class="md-icon-button"
    ng-click="ctrl.voltar()">
    
    <md-icon md-font-set="material-icons">arrow_back</md-icon>
  </md-button>
    
  <h1
    flex
    class="md-title"
    md-truncate>Cadastro</h1>
</md-toolbar>

<md-progress-linear 
  md-mode="indeterminate" 
  ng-show="loading"></md-progress-linear>
  
<md-content
  flex
  layout="column" 
  class="md-no-flicker md-no-momentum">

  <md-subheader flex="none">Dados pessoais</md-subheader>

  <div
    flex="none"
    layout="column" 
    layout-padding>
    
    <form 
      name="form"
      layout="column">

      <md-input-container class="md-block">
        <label for="cpf">CPF</label>
        <input
          id="cpf"
          name="cpf"
          type="tel"
          maxlength="14"
          mask="999.999.999-99"
          mask-clean="true"
          ng-blur="ctrl.verificarCpf(form.cpf)"
          ng-model="ctrl.usuario.PessoaFisica.cpf"
          ng-pattern="ctrl.cpfPattern"
          ng-required="true" />
        
        <ng-messages for="form.cpf.$error" ng-show="!form.cpf.$empty">
          <ng-message when="em_uso">CPF jรก cadastrado</ng-message>
        </ng-messages>
      </md-input-container>

      <md-input-container>
        <label for="rg">RG</label>
        <input
          id="rg" 
          type="text"
          maxlength="20"
          ng-model="ctrl.usuario.PessoaFisica.rg"
          ng-required="true" />

      </md-input-container>

      <md-input-container>
        <label for="nome">Nome</label>
        <input
          id="nome"
          type="text"
          maxlength="100"
          ng-model="ctrl.usuario.PessoaFisica.nome"
          ng-required="true" />

      </md-input-container>

      <md-input-container>
        <label for="sobrenome">Sobrenome</label>
        <input
          id="sobrenome" 
          type="text"
          maxlength="100"
          ng-model="ctrl.usuario.PessoaFisica.sobrenome"
          ng-required="true" />
      </md-input-container>

      <md-input-container>
        <label for="data_nascimento">Data de nascimento</label>
        <input
          id="data_nascimento"
          type="date"
          ng-model="ctrl.data_nascimento" />
      </md-input-container>
    </form>

    <md-button
      class="md-primary md-raised"
      md-ripple-size="full"
      ng-disabled="form.cpf.$error.em_uso || form.$invalid"
      ng-click="ctrl.avancar()">

      Continuar
    </md-button>
  </div>
</md-content>