<div style="visibility: hidden">
  <div
    id="terms_of_use_dialog"
    class="md-dialog-container">

    <md-dialog layout-padding>
      <md-dialog-content>
        <form name="new_product_form">
          <md-input-container>
            <md-autocomplete>
          </md-input-container>
        </form>
      </md-dialog-content>

      <md-dialog-actions>
        <md-button ng-click="registerCtrl.cancelRegister()">
          Recuso
        </md-button>

        <md-button 
          class="md-primary"
          ng-click="registerCtrl.completeRegister()">
  
          Aceito
        </md-button>
      </md-dialog-actions>

    </md-dialog>
  </div>
</div>
