<md-content 
    layout="column" 
    class="md-no-flicker md-no-momentum"
    layout-padding>

    <form
        layout="column"
        name="loginForm">

        <md-input-container>
            <label for="username_field">Nome de usuário</label>
            <input
                id="username_field"
                type="text"
                ng-model="loginCtrl.username"
                ng-required="true" />
        </md-input-container>

        <md-input-container>
            <label for="password_field">Senha</label>
            <input
                id="password_field"
                type="text"
                ng-model="loginCtrl.password"
                ng-required="true" />
        </md-input-container>
    </form>

    <md-button 
        class="md-primary md-raised"
        md-ripple-size="full"
        aria-label="button-label"
        ng-disabled="loginForm.$invalid"
        ng-click="loginCtrl.login()">

        Entrar
    </md-button>
</md-content>
