<md-toolbar
    class="md-toolbar-tools"
    layout="column"
    layout-align="center stretch"
    md-ripple-size="full"
    md-scroll-shrink="true">

    <md-autocomplete
        placeholder="{{strings.WHAT_ARE_YOU_LOOKING_FOR}}"
        md-no-cache="true"
        md-search-text="searchCtrl.searchText"
        md-items="item in searchCtrl.products | filter:searchCtrl.searchText"
        md-clear-button="true">

        <md-item-template>{{item.name}}</md-item-template>

        <md-not-found ng-bind="strings.RESULT_NOT_FOUND"></md-not-found>
    </md-autocomplete>
</md-toolbar>

<md-content
    layout="column" 
    class="md-no-flicker md-no-momentum"
    layout-padding>

    <section
        class="search-filters-content"
        layout="column">

        <md-subheader ng-bind="strings.CATEGORIES"></md-subheader>

        <md-grid-list
            md-cols="3"
            md-gutter="10px"
            md-row-height="2:1">

            <md-grid-tile ng-repeat="category in searchCtrl.categories">
                {{category.name}}
            </md-grid-tile>
        </md-grid-list>

        <md-subheader ng-bind="strings.HANDLING"></md-subheader>

        <md-grid-list
            md-cols="3"
            md-gutter="10px"
            md-row-height="2:1">

            <md-grid-tile ng-repeat="handling in searchCtrl.handlings">
                {{handling.name}}
            </md-grid-tile>
        </md-grid-list>

        <md-subheader ng-bind="strings.LOCALE"></md-subheader>

        <section layout="row">
            <md-input-container>
                <label
                    for="uf_select"
                    ng-bind="strings.UF"></label>

                <md-select
                    id="uf_select"
                    ng-change="searchCtrl.setSearched()"
                    ng-model="searchCtrl.uf"></md-select>
            </md-input-container>

            <md-input-container>
                <label
                    for="city_select"
                    ng-bind="strings.CITY"></label>

                <md-select
                    id="city_select"
                    ng-change="searchCtrl.setSearched()"
                    ng-model="searchCtrl.city"></md-select>
            </md-input-container>
        </section>

        <md-button
            aria-label="{{strings.DO_SEARCH}}"
            md-ripple-size="full"
            ng-click="churros"
            ng-bind="string.DO_SEARCH"
            ng-hide="hasAlreadySearched"></md-button>
    </section>
</md-content>