<md-content 
    layout="column" 
    class="md-no-flicker md-no-momentum"
    layout-padding>

    <form 
        action=""
        layout="column">

        <md-input-container>
            <label for="username_field">Nome de usuário</label>
            <input id="username_field" type="text" ng-required ng-model="username">
        </md-input-container>

        <md-input-container>
            <label for="password_field">Senha</label>
            <input id="password_field" type="text" ng-required ng-model="password">
        </md-input-container>

        <md-button 
            class="md-primary md-raised"
            md-ripple-size="full"
            aria-label="button-label">

            Entrar
        </md-button>
    </form>
</md-content>
