<md-content
  layout="column" 
  class="md-no-flicker md-no-momentum"
  layout-padding="true"
  ng-show="registerCtrl.step === 1 && registerCtrl.credentialStep === 2">

  <form 
    name="email_password_form"
    layout="column">
    
    <md-input-container>
      <label for="email_input">
        <%= strings.EMAIL %>
      </label>

      <input 
        id="email_input"
        type="email"
        ng-model="registerCtrl.email.email"
        ng-required="true" />
    </md-input-container>

    <md-input-container>
      <label for="password_input">
        <%= strings.PASSWORD %>
      </label>

      <input 
        id="password_input"
        type="password"
        ng-model="registerCtrl.credencial.senha"
        ng-required="true" />
    </md-input-container>
  </form>

  <md-button
    class="md-primary md-raised"
    md-ripple-size="full"
    ng-show="registerCtrl.tipoPessoa"
    ng-disabled="email_password_form.$invalid"
    ng-click="registerCtrl.registerStepOne()">

    Enviar
  </md-button>
</md-content>