<md-content
  layout="column" 
  class="md-no-flicker md-no-momentum"
  layout-padding="true"
  ng-show="registerCtrl.step === 2 && registerCtrl.tipoPessoa === 'PF' && !registerCtrl.isOnContact">

    <p class="md-title">Dados pessoais</p>

  <form 
    name="dados_pessoais_form"
    layout="column">
    <md-input-container class="md-block">
      <label for="cpf">CPF</label>
      <input
        id="cpf" 
        type="number"
        maxlength="11"
        max="99999999999"
        ng-model="registerCtrl.pessoa_fisica.cpf"
        ng-pattern="registerCtrl.cpfPattern"
        ng-required="true" />
    </md-input-container>

    <md-input-container>
      <label for="rg">RG</label>
      <input
        id="rg" 
        type="number"
        maxlength="9"
        max="999999999"
        ng-model="registerCtrl.pessoa_fisica.rg"
        ng-pattern="registerCtrl.rgPattern"
        ng-required="true" />
    </md-input-container>

    <md-input-container>
      <label for="nome">Nome</label>
      <input
        id="nome"
        type="text"
        maxlength="100"
        ng-model="registerCtrl.pessoa_fisica.nome"
        ng-required="true" />

    </md-input-container>

    <md-input-container>
      <label for="sobrenome">Sobrenome</label>
      <input
        id="sobrenome" 
        type="text"
        maxlength="100"
        ng-model="registerCtrl.pessoa_fisica.sobrenome"
        ng-required="true" />
    </md-input-container>

    <md-input-container>
      <label for="data_fundacao">Data de fundação</label>
      <input
        id="data_fundacao" 
        type="date"
        ng-model="registerCtrl.pessoa_fisica.data_fundacao"
        ng-required="true" />
    </md-input-container>
  </form>

  <md-button
    class="md-primary md-raised"
    md-ripple-size="full"
    ng-show="registerCtrl.tipoPessoa"
    ng-disabled="dados_pessoais_form.$invalid"
    ng-click="registerCtrl.showContactForm()">

    Continuar
  </md-button>
</md-content>