<md-content
  layout="column" 
  class="md-no-flicker md-no-momentum"
  layout-padding="true"
  ng-show="registerCtrl.step === 2 && registerCtrl.tipoPessoa === 'PF'">


  <p class="md-title">Hello step 2 for PF!</p>
</md-content>