<md-toolbar
  layout="row" 
  class="md-toolbar-tools">

  <md-button 
    aria-label="button-label" 
    class="md-icon-button"
    ng-click="cadastroCtrl.voltar()">
    
    <md-icon md-font-set="material-icons">arrow_back</md-icon>
  </md-button>
    
  <h1
    class="md-title"
    flex
    md-truncate>Cadastro</h1>
</md-toolbar>
  
<md-content
  layout="column" 
  class="md-no-flicker md-no-momentum"
  layout-padding="true">

  <form 
    name="email_password_form"
    layout="column">
    
    <md-input-container>
      <label for="email_input">
        <%= strings.EMAIL %>
      </label>

      <input 
        id="email_input"
        type="email"
        ng-model="cadastroCtrl.email.email"
        ng-required="true" />
    </md-input-container>

    <md-input-container>
      <label for="password_input">
        <%= strings.PASSWORD %>
      </label>

      <input 
        id="password_input"
        type="password"
        ng-model="cadastroCtrl.credencial.senha"
        ng-required="true" />
    </md-input-container>
  </form>

  <md-button
    class="md-primary md-raised"
    md-ripple-size="full"
    ng-if="cadastroCtrl.usuario.tipo == 'PF'"
    ng-disabled="email_password_form.$invalid"
    ng-click="cadastroCtrl.avancar('pessoa-fisica')">

    Continuar
  </md-button>

  <md-button
    class="md-primary md-raised"
    md-ripple-size="full"
    ng-if="cadastroCtrl.usuario.tipo == 'PJ'"
    ng-disabled="email_password_form.$invalid"
    ng-click="cadastroCtrl.avancar('pessoa-juridica')">

    Continuar
  </md-button>
</md-content>