<md-toolbar
  layout="row" 
  class="md-toolbar-tools">

  <md-button 
    aria-label="button-label" 
    class="md-icon-button"
    ng-click="ctrl.voltar()">
    
    <md-icon md-font-set="material-icons">arrow_back</md-icon>
  </md-button>
    
  <h1
    class="md-title"
    flex
    md-truncate>Cadastro</h1>
</md-toolbar>
  
<md-content
  layout="column" 
  class="md-no-flicker md-no-momentum">

  <md-subheader>Credenciais</md-subheader>
  
  <div layout="column" layout-padding>
    <form 
      name="form"
      layout="column"
      ng-init="ctrl.setForm(this)">
      
      <md-input-container>
        <label for="email_input">
          <%= strings.EMAIL %>
        </label>

        <input 
          id="email_input"
          name="email"
          type="email"
          ng-blur="ctrl.verificarEmail(form.email)"
          ng-model="ctrl.email.email"
          ng-required="true" />

        <ng-messages for="form.email.$error" ng-show="form.email.$dirty">
          <ng-message when="em_uso">Esse email já está em uso</ng-message>
        </ng-messages>
      </md-input-container>
      <md-input-container>
        <label for="password_input">
          <%= strings.PASSWORD %>
        </label>

        <input 
          id="password_input"
          name="senha"
          type="password"
          ng-model="ctrl.usuario.senha"
          ng-required="true" />
      </md-input-container>
    </form>

    <md-button
      class="md-primary md-raised"
      md-ripple-size="full"
      ng-if="ctrl.usuario.tipo == 'PF'"
      ng-disabled="form.email.$error.em_uso || form.$invalid || form.$pristine"
      ng-click="ctrl.avancar('pessoa-fisica')">

      Continuar
    </md-button>

    <md-button
      class="md-primary md-raised"
      md-ripple-size="full"
      ng-if="ctrl.usuario.tipo == 'PJ'"
      ng-disabled="form.email.$error.em_uso || form.senha.$invalid || form.$pristine"
      ng-click="ctrl.avancar('pessoa-juridica')">

      Continuar
    </md-button>
  </div>
</md-content>