<md-toolbar
  layout="row" 
  class="md-toolbar-tools">

  <md-button 
    aria-label="button-label" 
    class="md-icon-button"
    ng-click="registerCtrl.goBack()">
    
    <md-icon md-font-set="material-icons">arrow_back</md-icon>
  </md-button>
    
  <h1
    class="md-title"
    flex
    md-truncate>Cadastro</h1>
</md-toolbar>

<md-content
  layout="column" 
  class="md-no-flicker md-no-momentum"
  layout-padding="true">

  <p class="md-title">Dados empresariais</p>

  <form 
    name="dados_empresariais_form"
    layout="column">
    <md-input-container class="md-block">
      <label for="cnpj">CNPJ</label>
      <input
        id="cnpj" 
        type="number"
        maxlength="16"
        max="9999999999999999"
        ng-model="registerCtrl.cnpj"
        ng-pattern="registerCtrl.cnpjPattern"
        ng-required="true" />

    </md-input-container>

    <md-input-container>
      <label for="razao_social">Razão Social</label>
      <input
        id="razao_social"
        type="text"
        maxlength="200"
        ng-model="registerCtrl.razao_social"
        ng-required="true" />

    </md-input-container>

    <md-input-container>
      <label for="responsavel">Responsável</label>
      <input
        id="responsavel" 
        type="text"
        maxlength="200"
        ng-model="registerCtrl.responsavel"
        ng-required="true" />

    </md-input-container>

    <md-input-container>
      <label for="responsavel">Data de fundação</label>
      <input
        id="responsavel" 
        type="date"
        ng-model="registerCtrl.data_fundacao"
        ng-required="true" />
        
    </md-input-container>
  </form>

  <md-button
    class="md-primary md-raised"
    md-ripple-size="full"
    ng-disabled="dados_empresariais_form.$invalid"
    ng-click="registerCtrl.goToContact()">

    Continuar
  </md-button>
</md-content>