<div style="visibility: hidden">
  <div class="md-dialog-container" id="terms_of_use_dialog">
    <md-dialog
      layout-padding>

      <md-dialog-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores sunt, quae facilis quisquam officia illo quia placeat, eos veniam impedit necessitatibus possimus adipisci eaque, quo doloribus, voluptate unde repudiandae rerum?</p>
      </md-dialog-content>

      <md-dialog-actions>
        <md-button ng-click="ctrl.cancelar()">
          Recuso
        </md-button>

        <md-button 
          class="md-primary"
          ng-click="ctrl.cadastrar()">
  
          Aceito
        </md-button>
      </md-dialog-actions>

    </md-dialog>
  </div>
</div>
